/*main*/

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #111;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke url("gdynia.JPG");
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
}

.aboutme {
    background: #EDF5F5;
   }

.aboutme > .container {
    padding: 0 15px 40px 15px;
}

.experience > .container {
    background: #FFFFFF;
    padding: 60px 15px;
}

.portfolio {
    background: #EDF5F5;
    padding: 40px 0 0 0;
}

.portfolio > .container {
    padding: 0 15px 40px 15px;
}

.footer {
    padding: 40px 0 0 0;
}

.container {
    margin: 0 80px;
}

.divider {
    display: block;
    width: 120px;
    height: 3px;
    background: royalblue;
    background: linear-gradient(0deg, royalblue 0%, skyblue 100%);
    margin: 20px auto 0 auto;
}


/*nav*/


.navbar-nav a {
    font-size: 17px;
}

#navi {
    background-color: white;
    border-color: #dddddd;
    padding-right: 50px;
    color: gray;
    margin-bottom: 0;
}

#navi a:hover {
    background-color: darkgray;
}


/*hero*/

.hero {
    background: whitesmoke url("gdynia.JPG") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}

.hero-headline{
    font-family: "Open Sans", sans-serif;
    font-size: 3.7em;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    text-align: right;
    position: relative;
}

.hero-text {
    font-size: 0.7em;
}


.hero-link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 1.5em;
}


/*about me*/


.column-foto {
    background-size: cover;
    opacity: 0.7;
    background-position: center center;
    padding: 12rem;
}

.column-about {
    min-height: 100vh;
    padding-top: 5rem;
}

.about-me-section-description {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #777;
    font-style: italic;
}

.aboutme h2 , p {
    color: #777;
}

.description-icons {
    padding: 2rem 5rem 5rem 5rem;
    text-align: justify;
    color: royalblue;
    font-size: 1.8rem;
}

.description-icons p {
    font-size: 1.5rem;
}

.description-icons p:first-line {
    font-style: italic;
    font-size: 2rem;
}


/*eperience */

.column-experience {
    min-height: 100vh;
    padding-top: 5rem;
    background-size: cover;
}

.column-education {
    min-height: 100vh;
    padding-top: 5rem;
    background-size: cover;
}


.experience-section-description {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #777;
    font-style: italic;
}

.experience h2 , p {
    color: #777;
}

.education h2 , p {
    color: #777;
}

.description-icons {
    padding: 2rem 5rem 5rem 5rem;
    text-align: justify;
    color: royalblue;
    font-size: 1.8rem;
}

.description-icons p {
    font-size: 1.5rem;
}

.description-icons p:first-line {
    font-style: italic;
    font-size: 2rem;
}

.wyksztalcenie .description-icons {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-top: 5rem;
}

.doswiadczenie .description-icons {
    padding-top: 5rem;
}

/*portfolio*/




.carousel {
    width:50%;
    height: 50%;
}

#portfolio {
       padding-bottom: 10rem;
}

.karuzela {
    display: flex;
    justify-content: center;
}

.portfolio h2 {
    color:#777;
    padding-bottom: 1rem;
}


/*footer*/

#footer {
    background-color: #777;
    height: 12rem;
    color:whitesmoke;
    padding-bottom: 3rem;
}

.footer a {
    font-size: 4rem;
    color:whitesmoke;
}

.footer a:hover {
    font-size: 4rem;
    color:royalblue;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 996px) {
    .hero-headline {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size:30px;
        color:white;
    }

    .hero-text {
        margin: 0px;
        padding: 0px;
        font-size: 30px;
    }

}
