/*main*/

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #111;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke url("gdynia.JPG");
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
}

.aboutme {
    background: #EDF5F5;
}

.portfolio {
    background: #EDF5F5;
    padding: 40px 0 0 0;
    margin-top: 8rem;
}

.footer {
    padding: 40px 0 0 0;
}

.container {
    margin: 0 80px;
}

.divider {
    display: block;
    width: 120px;
    height: 3px;
    background: royalblue;
    background: linear-gradient(0deg, royalblue 0%, skyblue 100%);
    margin: 20px auto 0 auto;
}

/*nav*/

.navbar-nav a {
    font-size: 17px;
}

#navi {
    background-color: white;
    border-color: #dddddd;
    color: gray;
    margin-bottom: 0;
}

/*hero*/

.hero {
    background: whitesmoke url("gdynia.JPG") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}

.hero-headline {
    font-family: "Open Sans", sans-serif;
    font-size: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    text-align: right;
    position: relative;
    color: white;
}

.hero-text {
    font-weight: normal;
    color: white;
    font-size: 0.8em;
}

.hero-link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: darkgray;
    font-size: 1.5em;
}

/*about me*/

.column-foto {
    opacity: 0.8;
    margin-top: 20rem;
}

.column-about {
    min-height: 100vh;
    padding-top: 5rem;
}

.about-me-section-description {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #777;
    font-style: italic;
}

.aboutme p {
    font-size: 1.6rem;
}

.aboutme h2 {
    color: #777;
}

.aboutme p {
    color: #777;
}

.description-icons {
    padding: 2rem 5rem 5rem 5rem;
    color: #777;
    font-size: 1.8rem;
}

.omnie .description-icons {
    text-align: justify;
}

.omnie img {
    box-shadow: 10px 5px 40px 20px #777;
}

.omnie-naglowek {
    font-size: 2rem;
    color: #777;
}

.column-foto {
    display: flex;
    justify-content: center;
}

/*eperience */

.column-experience {
    min-height: 100vh;
    padding-top: 5rem;
    background-size: cover;
}

.column-education {
    min-height: 100vh;
    padding-top: 5rem;
    background-size: cover;
}

.experience-section-description {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #777;
    font-style: italic;
}

.experience h2 {
    color: #777;
}

.experience p {
    color: #777;
}

.experience .divider {
    margin-bottom: 20px;
}

.education h2 {
    color: #777;
}

.education p {
    color: #777;
}

.description-icons {
    color: #777;
    font-size: 1.8rem;
}

.description-icons p {
    font-size: 1.5rem;
}

.wyksztalcenie .description-icons {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-top: 5rem;
}

.doswiadczenie .description-icons {
    padding-top: 5rem;
}

.doswiadczenie .icon1 p {
    margin-right: 10rem;
}

.doswiadczenie .icon2 p {
    margin-right: 10rem;
}

.doswiadczenie .icon3 p {
    margin-bottom: 0;
    margin-right: 10rem;
}

.doswiadczenie .icon4 p {
    margin-right: 10rem;
}

.wyksztalcenie .description-icons {
    background-image: url("politechnika(1).jpg");
    background-size: cover;
    height: 80%;
    position: center;
    opacity: 0.6;
}


.wyksztalcenie .description-icons p {
    color: black;
}

/*portfolio*/

.carousel {
    width: 50%;
    height: 50%;
}

#portfolio {
    padding-bottom: 10rem;
}

.karuzela {
    display: flex;
    justify-content: center;
}

.portfolio h2 {
    color: #777;
    padding-bottom: 1rem;
}

.portfolio p {
    font-size: 1.6rem;
}
/*footer*/

#footer {
    background-color: #777;
    height: 12rem;
    color: whitesmoke;
    padding-bottom: 3rem;
}

.footer a {
    font-size: 4rem;
    color: whitesmoke;
}

.footer a:hover {
    font-size: 4rem;
    color: royalblue;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 996px) {
    .hero-text {
        margin: 0px;
        padding: 0px;
        font-size: 0.7em;
    }
}

.active {
    background-color: #EDF5F5;
}

@media screen and (max-width: 767px) {
    .hero-headline {
        font-size: 44px;
    }
}

@media screen and (max-width: 400px) {
    .hero-headline {
        font-size: 34px;
    }

    .footer {
        text-align: center;
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .column-foto {
        margin-top: 0;
    }
}

@media screen and (min-width: 1600px) {
    .aboutme {
        height: 100vh;
    }

    .experience {
        height: 100vh;
    }

    .portfolio {
        height: 100vh;
    }
}

@media screen and (max-width: 500px) {
    .experience .description-icons {
        padding: 10px;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
     }
    .experience .img-responsive{
        visibility: hidden;
    }

    .experience .icon1 p {
        margin: 0;
        padding: 0;
    }
    .experience .icon2 p {
        margin: 0;
        padding: 0;
    }
    .experience .icon3 p {
        margin: 0;
        padding: 0;
    }
    .experience .icon4 p {
        margin: 0;
        padding: 0;
    }
    .aboutme .description-icons {
        margin: 15px;
        padding: 0;
    }
}

.func-hide-box {
opacity: 0;
position: relative;
top: 80px;
transition: all 1.5s;
}

.func-show-box {
opacity: 1;
top: 0;
transition: all 1.5s;
}