/*main*/

html {
    font-size: 2.5rem;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h2 {
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 3rem;
    color: #111;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke url("gdynia.JPG");
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
}

.aboutme {
    background: #EDF5F5;
    height: 100vh;
}


.experience {
    height: 100vh;
}
.portfolio {
    background: #EDF5F5;
    padding: 40px 0 0 0;
    height: 100vh;
}



.footer {
    padding: 40px 0 0 0;
}

.container {
    margin: 0 80px;
}

.divider {
    display: block;
    width: 120px;
    height: 3px;
    background: royalblue;
    background: linear-gradient(0deg, royalblue 0%, skyblue 100%);
    margin: 20px auto 0 auto;
}

/*nav*/

.navbar-nav a {
    font-size: 17px;
}

#navi {
    background-color: white;
    border-color: #dddddd;
    color: gray;
    margin-bottom: 0;
}

/*hero*/

.hero {
    background: whitesmoke url("gdynia.JPG") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}

.hero-headline {
    font-family: "Open Sans", sans-serif;
    font-size: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    text-align: right;
    position: relative;
    color: white;

}

.hero-text {
    font-weight: normal;
    color: white;
    font-size: 0.8em;
}

.hero-link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: darkgray;
    font-size: 1.5em;
}

/*about me*/

.column-foto {
    background-size: cover;
    opacity: 0.8;
    background-position: center center;
    display: flex;
    justify-content: center;
    padding-top: 10em;
}

.column-about {
    min-height: 100vh;
    padding-top: 5rem;
}

.about-me-section-description {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #777;
    font-style: italic;
}


.aboutme h2 {
    color: #777;
}

.aboutme p {
    color: #777;
    font-size: 1.8rem;
}

.description-icons {
    padding: 2rem 5rem 5rem 5rem;
    color: royalblue;
    font-size: 1.8rem;
}

.omnie{
    padding-left: 7rem;
}

.omnie .description-icons {
    text-align: justify;
}

.omnie img {
    box-shadow: 0 0 20px #777;
}

.omnie-description {
    font-size: 1.4rem;
}
.aboutme-naglowek {
    font-weight: bold;
    font-size: 10rem;
}
/*eperience */

.column-experience {
    min-height: 100vh;
    padding-top: 5rem;
    background-size: cover;
}

.column-education {
    min-height: 100vh;
    padding-top: 5rem;
    background-size: cover;
}

.experience-section-description {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #777;
    font-style: italic;
}

.experience h2 {
    color: #777;
}

.experience p {
    color: #777;
}

.education h2 {
    color: #777;
}

.education p {
    color: #777;
}

.description-icons {
    color: royalblue;
    font-size: 1.8rem;
}

/*.description-icons p {*/
    /*font-size: 1.5rem;*/
/*}*/

.wyksztalcenie .description-icons {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-top: 5rem;
}

.doswiadczenie .description-icons {
    padding-top: 5rem;
}


.icon3 p {
    margin-bottom: 0;
}

.wyksztalcenie .description-icons {
    background-image: url("politechnika(1).jpg");
    background-size: cover;
    height: 80%;
    position: center;
    opacity: 0.6;
}

.wyksztalcenie .description-icons p {
    color: black;
}

/*portfolio*/

.carousel {
    width: 50%;
    height: 50%;
}

#portfolio {
    padding-bottom: 10rem;
}

.karuzela {
    display: flex;
    justify-content: center;
}

.portfolio h2 {
    color: #777;
    padding-bottom: 1rem;
}

/*footer*/

#footer {
    background-color: #777;
    height: 12rem;
    color: whitesmoke;
    padding-bottom: 3rem;
}

.footer a {
    font-size: 4rem;
    color: whitesmoke;
}

.footer a:hover {
    font-size: 4rem;
    color: royalblue;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 996px) {
    .hero-text {
        margin: 0px;
        padding: 0px;
        font-size: 0.7em;
    }
}

.active {
    background-color: #EDF5F5;
}

@media screen and (max-width: 767px) {
    .hero-headline {
        font-size: 44px;
    }
}

@media screen and (max-width: 400px) {
    .hero-headline {
        font-size: 34px;
    }

    .footer {
        text-align: center;
        font-size: 10px;
    }
}



