html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    color: #666;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #111;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #111;
}



.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke url("../img/wallpaperNEWer.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
}

.aboutme {
    background: #EDF5F5;
    padding: 40px 0 0 0;
}

.aboutme > .container {
    padding: 0 15px 40px 15px;
}

.experience {
    padding: 40px 0 0 0;
}

.experience > .container {
    background: #FFFFFF;
    padding: 60px 15px;
}

.portfolio {
    background: #EDF5F5;
    padding: 40px 0 0 0;
}

.portfolio > .container {
    padding: 0 15px 40px 15px;
}

.footer {
    padding: 40px 0 0 0;
}

.container {
    margin: 0 80px;
}

.divider {
    display: block;
    width: 120px;
    height: 3px;
    background: royalblue;
    background: linear-gradient(0deg, royalblue 0%, skyblue 100%);
    margin: 20px auto 0 auto;
}