.navbar-nav a {
    font-size: 17px;
}

#navi {
    background-color: lightgray;
    border-color: lightgray;
    padding-right: 50px;
    color: gray;
}

#navi a:hover {
    background-color: darkgray;
}


